<!doctype html>
<html lang="hu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>OBS Overlay</title>
  <link rel="stylesheet" href="/static/css/overlay.css" />
</head>
<body>

<div class="score-container">

  <div class="match-header" id="match-header">Betöltés...</div>

  <div class="overlay">

    <div class="row team-left">
      <div class="team-name" id="ln">Bal</div>
      <div class="set-history" id="sets-goals-left"></div>
      <div class="set-box2" id="sets-left">0</div>
      <div class="score" id="score-left">0</div>
      <div class="timeouts" id="to-left"></div>
    </div>

    <div class="row team-right">
      <div class="team-name" id="rn">Jobb</div>
      <div class="set-history" id="sets-goals-right"></div>
      <div class="set-box2" id="sets-right">0</div>
      <div class="score" id="score-right">0</div>
      <div class="timeouts" id="to-right"></div>
    </div>

  </div>
</div>

<script src="/static/js/overlay.js"></script>
</body>
</html>